#insta_link {
	padding-top:5vh;
	padding-bottom: 4vh;
	background-color: #303030;
	text-align: center;
	color: #fff;
}

.insta_head {
	
	margin-bottom: 40px;
	
}

.instaimg img {

	margin-bottom:30px;
	#width: 100px;
}
.instaimg img:hover {
	
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
}
@media only screen and (max-width: 1000px) {
	
	.instaimg img {
		margin-bottom:10px;
		margin-right: 0px;
		width: 100px;
	}
	
	.instaimg {
		text-align: center;
		margin: auto;
		width: 120px;
		padding:0px;	
	}
	
}



